<h2 id="siteTitle">TWapp</h2>

<% @tweets.each do |tw| %>
  <%= tw.message %>
  
  <% d = Time.current - tw.tdate %>
  <% t = d /60 %>
  
  --<%= t.to_i %>分前
  </form>
  <%= link_to '削除', tweet_path(tw) ,method: :delete %>
  <%= link_to '表示', tweet_path(tw) %>
  <%= link_to '編集', edit_tweet_path(tw) %><br/>
<% end %>

<h1><%= link_to '新しく呟く',  new_tweet_path %></h1>