<% if @tweet.errors.present? %>
<ul>
  <% @tweet.errors.full_messages.each do |ermsg| %>
  <li><h2><%= ermsg %></h2></li>
  <% end %>
</ul>
<% end %>

<%= form_for @tweet, message: {action: :create} do |tw| %>

<%= render "form", tw: tw %>

<% end %>

