/* h1 {
    
    
    
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    
    text-align: center;
} */
.btn h1 {
  font-size: 10px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #77D8FF;
  padding: 5px;
  border-radius: 5px; }

h1 {
  color: #333333;
  text-decoration: none; }

h1:hover {
  color: #000000; }

input[type="text"] {
  width: 300px;
  height: 40px;
  font-size: 1.5em; }

#container {
  width: 980px;
  margin: 0 auto; }

#sidebar {
  width: 300px; }

#content {
  width: 680px; }

/*# sourceMappingURL=tweets.css.map */
