/* 変更したい情報
h１#btn {
    font-size: 3px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #77D8FF;
    padding: 5px;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    text-align: center;
} */

h1 {
    font-size: 10px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #77D8FF;
    padding: 5px;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    text-align: center;
}

#siteTitle {
    font-size: 15px;
    background-color: #77D8FF;
}

input[type="text"] {
    width: 300px;
    height: 40px;
    font-size: 1.5em;
}

#container {
    width: 980px;
    margin: 0 auto;
}

#sidebar {
    width: 300px;
    background-color: #FFFFCC;
    float: left;
}

#content {
    width: 680px;
    background-color: #DDDDFF;
    float: right;
}
